.route-container {
    list-style: none;
    text-decoration: none !important;
}

.route-container strong {
    text-decoration: none !important;
}

.footer-container {
    margin-top: 10rem;
    position: relative;
}