.route-container {
    list-style: none;
    text-decoration: none !important;
}

.route-container strong {
    text-decoration: none !important;
}

.footer-container {
    margin-top: 10rem;
    position: relative;
}

@media only screen and (max-width:800px) {
    .link-container-footer {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media only screen and (min-width:800px) {
    .link-container-footer {
        display: flex !important;
        flex-direction: row !important;
    }
}